{% extends 'base.html' %}
{% load static %}

{% block title %}
Список засовленнь - {{ block.super }}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-12">
		<h3>Ваша корзина</h3>
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">ПІП</th>
		      <th scope="col">Сума</th>
		      <th scope="col">Номер</th>
		      <th scope="col">Дата</th>
		      <th scope="col">Дії</th>
		    </tr>
		  </thead>
		  <tbody>
		  	  {% for order in orders %}
		  	  
		  	  <tr>
		  	    <th scope="row">
		  	    	{{ order.second_name }} {{ order.first_name }} {{ order.last_name }}
		  		</th>
		  	    <td>{{ order.total }}</td>
		  	    <td>+380 {{ order.phone_number }}</td>
		  	    <td>{{ order.date }}</td>
		  	    <td><a href="{{ order.get_absolute_url }}">Змінити або переглянуть</a>
		  	    </td>
		  	  </tr>

		  	  {% endfor %}

		  	
	  </tbody>

		</table>
	</div>
</div>
{% endblock %}
