.product-title {
  color: #30323A;
  display: inline-block;
  text-transform: uppercase;
}
.product-title:hover {
  color: gray;
  text-decoration: none;
}

#contant{
  margin: 10px;
  margin-bottom: 10px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #DADADA;
}

.section-title {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #DADADA;
}

.section-title .title {
  color: gray;
  display: inline-block;
  text-transform: uppercase;
}
.section-title .title:hover {
  color: #30323A;
}


.section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 60px;
  background-color: #F8694A;
}

.header-btns-icon {
  position: relative;
  float: left;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #30323A;
  background-color: #FFF;
  border: 1px solid #DADADA;
}

 .header-btns-icon .qty {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  background: #F8694A;
  color: #FFF;
  border-radius: 50%;
}


/*=========================================================
  10 -> FOOTER
===========================================================*/

.footer {
  margin: 15px 0px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo .logo {
  display: inline-block;
}

.footer-logo .logo>img {
  width: 100%;
  max-height: 70px;
}

.footer-copyright {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
}

.section-grey {
  background: #F6F7F8;
}


/*----------------------------*\
  Lists
\*----------------------------*/

.list-links .list-links-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
}

.list-links li>a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.list-links li>a:before {
  content: "\f105";
  position: absolute;
  left: 0px;
  font-family: FontAwesome;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
  color: #F8694A;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.list-links li>a:hover:before, .list-links li>a:focus:before, .list-links li.active>a:before {
  opacity: 1;
  visibility: visible;
}
